<header>
<h1>Astronomy Dashboard</h1>
</header>
<div class="container">
<div class="apod">
    <h1>Imagen astronómica del día (APOD)</h1>
    <h2><%= @apod_data['title'] %></h2>
    <p>Fecha: <%= @apod_data['date']%></p>
    <img src="<%= @apod_data['url'] %>" alt="<%= @apod_data['title'] %>">
    <p><%= @apod_data['explanation'] %></p>
</div>

<div class="mars-images">
    <h1>Imágenes de Marte</h1>
    <h2><%= @marte_data['photos'][0]['camera']['full_name'] %></h2>
    <img src="<%= @marte_data['photos'][0]['img_src'] %>" alt="<%= @marte_data['photos'][0]['camera']['full_name'] %>">
  </div>
<div class="exoplanets">
    <h1>Información sobre Exoplaneta Aleatorio</h1>

    <h2><%= @exoplanet['pl_name'] %></h2>
    <p>Estrella anfitriona: <%= @exoplanet['hostname'] %></p>
    <p>Tipo de descubrimiento: <%= @exoplanet['discoverymethod'] %></p>
</div>
</div>